.hero {
    display: flex;
    width: 100%;
    padding: 5rem 10rem;
    background: linear-gradient(90deg, rgba(1, 5, 47, 0.8), rgba(1, 5, 47, 0.8)), url('../../public/hero.jpg');
    height: 100vh;
    background-size: cover;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
}

.hero h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero h3 {
    font-size: 2rem;
    line-height: 3rem;
}

.red {
    color: greenyellow;
}